<!DOCTYPE html>
<html>

<head>
    <title>ロボット制御</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.3/socket.io.js"
        integrity="sha512-jDUVpk2awjMnyrpY2xZguylQVRDeS9kRBImn0M3NJaZzowzUpKr6i62ynwPG0vNS1+NsTk4ji+iznbc5m0ZCKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <div class="container">
        <div id="robot" class="parents">
            <div id="esp32_ip_value">192.168.-</div>
            <div class="grid_2columns">
                <div>
                    <!-- <p>左前メカナム</p> -->
                    <div class='gauge'>
                        <div id='motor0_speed_gauge' class="gauge_gauge"></div>
                        <div id='motor0_speed_char' class="gauge_char">左前メカナム</div>
                    </div>
                </div>
                <div>
                    <!-- <p>右前メカナム</p> -->
                    <div class='gauge'>
                        <div id='motor1_speed_gauge' class="gauge_gauge"></div>
                        <div id='motor1_speed_char' class="gauge_char">右前メカナム</div>
                    </div>
                </div>
                <div>
                    <!-- <p>左後メカナム</p> -->
                    <div class='gauge'>
                        <div id='motor2_speed_gauge' class="gauge_gauge"></div>
                        <div id='motor2_speed_char' class="gauge_char">左後メカナム</div>
                    </div>
                </div>
                <div>
                    <!-- <p>右後メカナム</p> -->
                    <div class='gauge'>
                        <div id='motor3_speed_gauge' class="gauge_gauge"></div>
                        <div id='motor3_speed_char' class="gauge_char">右後メカナム</div>
                    </div>
                </div>
                <div>
                    <!-- <p>回収機構</p> -->
                    <div class='gauge'>
                        <div id='motor4_speed_gauge' class="gauge_gauge"></div>
                        <div id='motor4_speed_char' class="gauge_char">回収機構</div>
                    </div>
                </div>
                <div>
                    <!-- <p></p> -->
                    <div class='gauge'>
                        <div id='servo_angle_gauge' class="gauge_gauge"></div>
                        <div id='servo_angle_char' class="gauge_char">排出蓋サーボ</div>
                    </div>
                </div>
            </div>

            <div class="grid_2columns">
                <div>
                    <p>サーボ温度</p>
                    <div class='gauge'>
                        <div id='servo_tmp_gauge' class="gauge_gauge"></div>
                        <div id='servo_tmp_char' class="gauge_char">0°</div>
                    </div>
                </div>
                <div>
                    <p>サーボ電流</p>
                    <div class='gauge'>
                        <div id='servo_cur_gauge' class="gauge_gauge"></div>
                        <div id='servo_cur_char' class="gauge_char">0°</div>
                    </div>
                </div>
                <div>
                    <p>サーボ角度</p>
                    <div class='gauge'>
                        <div id='servo_deg_gauge' class="gauge_gauge"></div>
                        <div id='servo_deg_char' class="gauge_char">0°</div>
                    </div>
                </div>
                <!-- <div>
                    <p>角度</p>
                    <div class='gauge'>
                        <div id='angle_gauge' class="gauge_gauge"></div>
                        <div id='angle_char' class="gauge_char">0°</div>
                    </div>
                </div> -->

                <div>
                    <p>バッテリー</p>
                    <div class='gauge'>
                        <div id='battery_voltage_gauge' class="gauge_gauge"></div>
                        <div id='battery_voltage_char' class="gauge_char">0V</div>
                    </div>
                </div>
            </div>


            <div id="wifi_signal_strength">
                <p>WiFi電波強度</p>
                <p><span id="wifi_signal_strength_value">-</span>dBm</p>
            </div>

        </div>

        <div id="timer">
            <!-- <h1>タイマー</h1> -->
            <div class="gauge">
                <div id='timer_gauge' class="gauge_gauge"></div>
                <div id='timer_char' class="gauge_char">--:--</div>
            </div>
        </div>

        <div id="controller" class="parents">
            <!-- <h1>コントローラー</h1> -->
            <div id="ubuntu_ip_value">192.168.-</div>
            <div id="controllers">
                <!-- <div id="controller1">
                    <div id="controller1_axes" class="grid_2columns"></div>
                    <div id="controller1_buttons"></div>
                </div> -->
            </div>
        </div>

        <div id="connection" class="parents">
            <!-- <h1>接続</h1> -->
            <div>SSID:<span id="ubuntu_ssid_value">-</span></div>
            <div>Ping:<span id="ping">-</span>ms</div>
            <div>接続端末数:<span id="user_count">-</span>台</div>
        </div>
    </div>
</body>

</html>