<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Device Orientation and Battery Level</title>
    <style>
      * {
        font-size: 2rem;
      }
      html,
      body {
        width: 100%;
        height: 100%;
        background-color: #000;
        color: #fff;
        font-weight: 900;
      }
    </style>
  </head>
  <body>
    <p id="orientationOutput">Orientation:</p>
    <p id="batteryOutput">Battery Level:</p>
    <p id="answer"></p>

    <script type="text/javascript">
      let state = {
        raw_angle: 0,
        sp_battery_level: 0,
      };

      window.onload = function () {
        xhr = new XMLHttpRequest();

        // サーバからのデータ受信を行った際の動作
        xhr.onload = function (e) {
          if (xhr.readyState === 4) {
            if (xhr.status === 200) {
              var answer = document.getElementById("answer");
              answer.value = xhr.responseText;
            }
          }
        };
      };

      function handleOrientation(event) {
        state.raw_angle = Number(Math.abs(event.alpha - 360).toFixed(1));
        document.getElementById(
          "orientationOutput"
        ).innerText = `角度: ${state.raw_angle}`;
      }

      function handleBattery(battery) {
        // let batteryLevel = battery.level * 100;
        state.sp_battery_level = Number(battery.level * 100);
        document.getElementById(
          "batteryOutput"
        ).innerText = `バッテリー: ${state.sp_battery_level.toFixed()}%`;
      }

      window.addEventListener("deviceorientation", handleOrientation);

      if ("getBattery" in navigator) {
        navigator.getBattery().then(handleBattery);
      } else {
        document.getElementById("batteryOutput").innerText =
          "Battery API not supported";
      }

      window.setInterval(send_state, 2);
      function send_state() {
        xhr.open("POST", "/stream", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        // フォームに入力した値をリクエストとして設定
        var request = JSON.stringify(state);
        xhr.send(request);
      }

      const fullscreenElement = document.getElementsByTagName("html");
      document.addEventListener("click", toggleFullScreen);

      function toggleFullScreen() {
        if (!document.fullscreenElement) {
          document.documentElement.requestFullscreen().catch((err) => {
            console.error("Error attempting to enable full-screen mode:", err);
          });
        }
      }
    </script>
  </body>
</html>
