<!DOCTYPE html>
<html>

<head>
    <title>ロボット制御</title>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
          <p>状態</p>
      <p id="status"></p>

      <button type="button" onclick="startPeerConnection()">Start</button>
      <textarea
        id="localSDP"
        cols="80"
        rows="20"
        readonly="readonly"
      ></textarea>
      <textarea id="remoteSDP" cols="80" rows="20"></textarea>
      <button type="button" onclick="setRemoteSdp();">Set</button>
      <form action="javascript:sendMessage()">
        <input type="text" id="message" size="30" value="" />
        <input type="submit" value="Send" />
      </form>
      <textarea id="history" cols="80" rows="10" readonly="readonly"></textarea>
      <p id="received_json"></p>


    <div class="container">
        <div id="robot" class="parents">
            <div id="esp32_ip_value">192.168.-</div>
            <div class="grid_2columns">
                <div>
                    <!-- <p>左前メカナム</p> -->
                    <div class='gauge'>
                        <div id='motor0_speed_gauge' class="gauge_gauge"></div>
                        <div id='motor0_speed_char' class="gauge_char">左前メカナム</div>
                    </div>
                </div>
                <div>
                    <!-- <p>右前メカナム</p> -->
                    <div class='gauge'>
                        <div id='motor1_speed_gauge' class="gauge_gauge"></div>
                        <div id='motor1_speed_char' class="gauge_char">右前メカナム</div>
                    </div>
                </div>
                <div>
                    <!-- <p>左後メカナム</p> -->
                    <div class='gauge'>
                        <div id='motor2_speed_gauge' class="gauge_gauge"></div>
                        <div id='motor2_speed_char' class="gauge_char">左後メカナム</div>
                    </div>
                </div>
                <div>
                    <!-- <p>右後メカナム</p> -->
                    <div class='gauge'>
                        <div id='motor3_speed_gauge' class="gauge_gauge"></div>
                        <div id='motor3_speed_char' class="gauge_char">右後メカナム</div>
                    </div>
                </div>
                <div>
                    <!-- <p>回収装填機構1</p> -->
                    <div class='gauge'>
                        <div id='motor4_speed_gauge' class="gauge_gauge"></div>
                        <div id='motor4_speed_char' class="gauge_char">回収機構</div>
                    </div>
                </div>
                <div>
                    <!-- <p>回収装填機構2</p> -->
                    <div class='gauge'>
                        <div id='motor5_speed_gauge' class="gauge_gauge"></div>
                        <div id='motor5_speed_char' class="gauge_char">回収機構</div>
                    </div>
                </div>
                <div>
                    <!-- <p></p> -->
                    <div class='gauge'>
                        <div id='servo_angle_gauge' class="gauge_gauge"></div>
                        <div id='servo_angle_char' class="gauge_char">排出蓋サーボ</div>
                    </div>
                </div>
            </div>

            <div class="grid_2columns">
                <div>
                    <p>サーボ温度</p>
                    <div class='gauge'>
                        <div id='servo_tmp_gauge' class="gauge_gauge"></div>
                        <div id='servo_tmp_char' class="gauge_char">0°</div>
                    </div>
                </div>
                <div>
                    <p>サーボ電流</p>
                    <div class='gauge'>
                        <div id='servo_cur_gauge' class="gauge_gauge"></div>
                        <div id='servo_cur_char' class="gauge_char">0°</div>
                    </div>
                </div>
                <div>
                    <p>サーボ角度</p>
                    <div class='gauge'>
                        <div id='servo_deg_gauge' class="gauge_gauge"></div>
                        <div id='servo_deg_char' class="gauge_char">0°</div>
                    </div>
                </div>
                <!-- <div>
                    <p>角度</p>
                    <div class='gauge'>
                        <div id='angle_gauge' class="gauge_gauge"></div>
                        <div id='angle_char' class="gauge_char">0°</div>
                    </div>
                </div> -->

                <div>
                    <p>バッテリー</p>
                    <div class='gauge'>
                        <div id='battery_voltage_gauge' class="gauge_gauge"></div>
                        <div id='battery_voltage_char' class="gauge_char">0V</div>
                    </div>
                </div>
            </div>


            <div id="wifi_signal_strength">
                <p>WiFi電波強度</p>
                <p><span id="wifi_signal_strength_value">-</span>dBm</p>
            </div>

        </div>

        <div id="timer">
            <!-- <h1>タイマー</h1> -->
            <div class="gauge">
                <div id='timer_gauge' class="gauge_gauge"></div>
                <div id='timer_char' class="gauge_char">--:--</div>
            </div>
        </div>

        <div id="controller" class="parents">
            <div id="ubuntu_ip_value">192.168.-</div>
            <div id="controllers"></div>
            <div id="gain_controll">
                <input type="number" id="gain_p" step="0.01" value="4">
                <input type="number" id="gain_i" step="0.01" value="0.1">
                <input type="number" id="gain_d" step="0.01" value="20">
                <button class="button" onclick="send_ros2()">更新</button>
            </div>
            <div id="sadou">
                <svg style="width: 100%; height: 100%; position: absolute; z-index: 1;">
                    <g transform="translate(78.5 78.5) scale(0.95, 0.95)">
                        <circle cx="0" cy="0" r="78.5" fill="none" stroke="#fff" stroke-width="3"></circle>
                        <line x1="0" y1="-78.5" x2="0" y2="78.5" stroke="#fff" stroke-width="2"></line>
                        <line x1="-78.5" y1="0" x2="78.5" y2="0" stroke="#fff" stroke-width="2"></line>
                        <line id="sadou_line" x1="0" y1="0" x2="34" y2="34" stroke="#fff" stroke-width="4"></line>
                        <circle id="sadou_circle" cx="34" cy="34" r="6" fill="#fff"></circle>
                    </g>
                </svg>
            </div>
        </div>

        <div id="connection" class="parents">
            <!-- <h1>接続</h1> -->
            <div title="パソコンが繋いでいるWiFiのSSID">SSID:<span id="ubuntu_ssid_value">-</span></div>
            <div>Ping:<span id="ping">-</span>ms</div>
            <div>接続端末数:<span id="user_count">-</span>台</div>
            <button id="reload_button" class="button">リロード</button>
            <button id="full_screen_button" class="button">全画面</button>
            <button id="exit_full_screen_button" class="button">全画面解除</button>
        </div>
    </div>
</body>

</html>